[Desktop Entry]
Name[cs]=Středisko mise
Name[de]=Mission Center
Name[es]=Mission Center
Name[fi]=Tehtäväkeskus
Name[nl]=Mission Center
Name[pt]=Mission Center
Name[ro]=Mission Center
Name[zh]=任务中心
Name[ru]=Mission Center
Name[sk]=Mission Center
Name[zh_TW]=任務中心
Name[el]=Κέντρο Ελέγχου
Name[fr]=Mission Center
Name[hu]=Küldetésközpont
Name[ko]=미션 센터
Name[pl]=Zasoby komputera
Name[pt_BR]=Central de Missões
Name[it]=Mission Center
Name[ja]=Mission Center
Name[tr]=Görev Merkezi
Name[sv]=Mission Center
Name[uk]=Mission Center
Name[bg]=Център за миссий
Name[id]=Mission Center
Name[fa]=مرکز‌ مأموریت
Name[ar]=مدير المهام
Name[be]=Mission Center
Name[ca]=Mission Center
Name[hi]=Mission Center
Name=Mission Center
Exec=/usr/share/appimage/missioncenter
Icon=io.missioncenter.MissionCenter
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
StartupNotify=true
Keywords[cs]=Správce úloh;Sledování zdrojů;Sledování systému;Procesor;Procesy;Sledování výkonu;CPU;GPU;Grafika;Disk;Paměť;Síť;Využití
Keywords[de]=Aufgabenmonitor;Ressourcenmonitor;Systemmonitor;Prozessor;Prozesse;Leistugsmonitor;CPU;GPU;Disc;Speicher;Arbeitsspeicher;Netzwerk;Auslastung;Auslastung
Keywords[es]=Administrador de tareas;Monitor de recursos;Monitor del sistema;Procesador;Procesos;Monitor de rendimiento;CPU;GPU;Disco;Disco;Memoria;Red;Utilización;Utilización
Keywords[fi]=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization;Mission Center;tehtäväkeskus;resurssit;suoritin;prosessit;suorituskyky;näytönohjain;levy;muisti;verkko
Keywords[nl]=Taakbeheerder;Broncontrole;Systeemcontrole;Processor;Processen;Prestatiemonitor;CPU;GPU;Harde schijf;Geheugen;Netwerk;Gebruik
Keywords[pt]=Gestor de tarefas;Monitor de recursos;Monitor do sistema;Processador;Processos;Monitor de desempenho;CPU;GPU;Disco;Disco;Memória;Rede;Uso;Utilização
Keywords[zh]=任务管理器;资源监控器;系统监控器;处理器;进程管理;性能监控器;CPU;GPU;磁盘;磁盘;内存;网络;使用率;利用率
Keywords[nb_NO]=Oppgavehåndterer;ressursoversikt;systemoversikt;prosessor;prosesser;ytelsesoversikt;prosessor;grafikk;disk,Minne;nettverk;bruk;anvendelse
Keywords[ru]=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization;Диспетчер задач;Мониторинг ресорсов;Системный монитор;Процессор;Процессы;Мониторинг производительности;Диск;Память;Сеть;Использование;ЦП;ГП
Keywords[sk]=Správca úloh;Monitor zdrojov;Monitor systému;Procesor;Procesy;Monitor výkonu;CPU;GPU;Disk;Pamäť;Sieť;Využitie;Využitie
Keywords[zh_TW]=工作管理員;資源監控器;系統監控器;處理器;進程;效能監控器;CPU;GPU;磁碟;磁碟;記憶體;網路;使用率;使用率
Keywords[el]=Διαχείριση εφαρμογών;Επίβλεψη πόρων;Επίβλεψη συστήματος;Processor;Διεργασίες;Επίβλεψη επίδοσης;Επεξεργαστής;Κάρτα γραφικών;Δίσκος;Δίσκος;Μνήμη;Δίκτυο;Χρήση;Χρήση
Keywords[fr]=Gestionnaire de tâches;Moniteur de ressources;Moniteur système;Processeur;Processus;Moniteur de performances;CPU;GPU;Disque;Disque;Mémoire;Réseau;Utilisation;Utilisation
Keywords[hu]=Feladatkezelő;Erőforrásfigyelő;Rendszerfigyelő;Processzor;Folyamatok;Teljesítményfigyelő;CPU;GPU;Lemez;Merevlemez;Memória;Hálózat;Kihasználtság;Kihasználtság
Keywords[ko]=Task manager;작업 관리자;Resource monitor;자원 감시기;System monitor;시스템 감시기;Processor;프로세서;Processes;프로세스;Performance monitor;성능 감시자;CPU;GPU;Disc;Disk;디스크;Memory;메모리;Network;네트워크;Utilisation;Utilization;활용;이용률
Keywords[pl]=Menedżer zadań;Monitor zasobów;Monitor systemu;Procesor;Procesy;Monitor wydajności;CPU;GPU;Dysk;Dysk;Pamięć;Sieć;Wykorzystanie;Wykorzystanie
Keywords[pt_BR]=Gerenciador de tarefas;Monitor de recursos;Monitor de sistema;Processador;Processos;Monitor de performance;CPU;GPU;Disco;Memória;Rede;Utilização
Keywords[it]=Task manager;Gestore processi;Monitor risorse;Monitor di sistema;Processore;Processi;Monitor prestazioni;CPU;GPU;Disco;Memoria;Rete;Uso;Utilizzo
Keywords[ja]=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization;タスクマネージャー;リソースモニター;システムモニター;プロセッサー;プロセス;パフォーマンスモニター;ディスク;メモリー;使用率
Keywords[tr]=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization;Görev yöneticisi;Kaynak İzleyici;Sistem Gözlemcisi;Süreç;Performans;Başarım;İşlemci;Ekran Kartı;Bellek;Ağ;Kullanım
Keywords[sv]=Aktivitetshanterare;Resursövervakare;Systemövervakare;Processor;Processer;Prestandaövervakare;CPU;GPU;Disc;Disk;Minne;Nätverk;Användning
Keywords[uk]=Диспетчер завдань;Монітор ресурсів;Системний монітор;Процесор;Процеси;Монітор продуктивності;ЦП;ГП;Диск;Диск;Пам’ять;Мережа;Використання;Використання
Keywords[bg]=Диспечер на задачи;Монитор на ресурси;Системен монитор;Процесор; Процеси;Монитор на производителността;CPU;GPU;Диск;Диск;Памет;Мрежа;Използване;Използване
Keywords[id]=Manajemen Tugas;Pemantau Penggunaan;Pemantau Sistem;Prosesor;Proses;Pemantau Kinerja;CPU;GPU;Cakram;Disk;Memori;Jaringan;Pemanfaatan;Penggunaan
Keywords[ar]=مدير المهام؛ مراقب الموارد؛ مراقب النظام؛ المعالج؛ العمليات؛ مراقب الأداء؛ وحدة المعالجة المركزية؛ وحدة معالجة الرسومات؛ القرص؛ قرص؛ ذاكرة؛ شبكة؛ استخدام؛ استخدام
Keywords[be]=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization;Дыспетчар задач;Маніторынг рэсурсаў;Сістэмны манітор;Працэсар;Працэсы;Маніторынг прадукцыйнасці;Дыск;Памяць;Сетку;Выкарыстанне;ЦП;ГП
Keywords[ca]=Gestor de tasques; Monitor de recursos; Monitor del sistema; Processador; Processos; Monitor de rendiment; CPU; GPU; Disc; Memòria; Xarxa; Utilització; Ús
Keywords[hi]=कार्य प्रबंधक;संसाधन निगरानी;सिस्टम निगरानी;प्रोसेसर;प्रक्रियाएं;प्रदर्शन निगरानी;CPU;GPU;डिस्क;मेमोरी;नेटवर्क;उपयोग;
Keywords=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization
